<div class="task-list">
  <h3>Beginning</h3>
  <div *ngFor="let task of tasksInPlans">
    <h2>{{ task.title }}</h2>
    <p>{{ task.description }}</p>
    <p *ngIf="task.status">{{ task.status.name }}</p>
  </div>
</div>

<div class="task-list">
  <h3>In progress</h3>
  <div *ngFor="let task of tasksInProgress">
    <h2>{{ task.title }}</h2>
    <p>{{ task.description }}</p>
  </div>
</div>

<div class="task-list">
  <h3>Done</h3>
  <div *ngFor="let task of tasksCompleted">
    <h2>{{ task.title }}</h2>
    <p>{{ task.description }}</p>
  </div>
</div>
